<%- include('partials/header') %>



<section class="bg-light py-5">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-xxl-8">
              <div class="text-center my-5">
                  <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                  <p class="lead fw-light mb-4">My name is Ranikrihna Radhkakrishna Piiai.</p>
                  <p></p>
                  <p class="text-muted">Currently in the first semester of softwrae Engineering Techbnlogy AI 
                    .I completed my Masters in 2016 in computer science and Engineering specilaiztion in Image processing With 3.8 GPA
                    I complted my Bachelors Degree in 2013 in computer science and Engineering From India with GPA of 3 .I worked as a PHP webdeveloper for 6 months in an IT company .Then I had worked as a Computer science lectrue in an Engineering College for almost 1. years.
                    Apart from that I had a worked as an Administrative assitant in EMC metal Cating company Abudhabi. I had got a 4 year gap with the field of softwre engineering that' why I choose to study further in my 30's. 
                  </p>
                 
                  
              </div>
          </div>





          <div class="mb-5">
            <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
            </div>
            <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO/SEM Marketing</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical Analysis</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
            </div>
        </div>  

        <div class="d-flex justify-content-center fs-2 gap-4">
          <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/document/re.pdf">Resume</a>

        </div>

      </div>
  </div>
</section>


<%- include('partials/footer') %>
